header {
    height: 88vh;
    padding-top: 20vh;
    margin: 0 auto;
    max-width: $max-width-mobile;
        .logo {
            margin-bottom: 1rem;
        }
        select {
            border-radius: 5px;
            height: 30px;
             }  
        h1 { 
            margin-bottom: 1rem;
            font-size: .8rem; 
            }

        @include tablet {
            max-width: $max-width-tablet;
            display: flex;
            align-items: center;
            justify-content: center;
            .logo{ 
                img {max-width: 136px;
                     max-height: 136px; 
                     transition-property: max-width;
                     transition-property: max-height;
                     transition-duration: 2s;
                     }     
                       }
                .drop-down-menu {
                    h1 { 
                        font-size: .9rem; }
                        justify-content: left;
                        select {
                                width: 130.7px;
                             }
                                }
               }

        @include desktop {
            max-width: $max-width-desktop;
            padding-top: 4vh;
            padding-left: 1vw;
            align-items: left;
            justify-content: left;
            .logo { 
                padding-right: 5vw;
                    img {
                        max-width: 220px;
                        max-height: 220px; 
                        margin: 1rem; 
                        }     
                    }
                    .drop-down-menu 
                    {
                        padding-bottom: 4vh;
                        h1 {  
                            font-size: $base-font-size; 
                            }
                    }           
                   }
        }

        .small-header {
            max-width: $max-width-mobile;
            margin: 0 auto;
            height: 49vh;
            padding-top: 5vh;
                .logo{ 
                       transition-property: padding-right;
                       transition-duration: 2s;
                    img {
                         max-width: 150px;
                         max-height: 150px; 
                         margin: 0rem; 
                        }     
                           }

            @include tablet {
                max-width: $max-width-tablet;
                justify-content: left;
                height: 20vh; 
                .logo { 
                        padding-left: 13vw;
                        padding-bottom: 2vh;
                        padding-right: 12vw;
                        img {
                             max-width: 67px;
                             max-height: 67px; 
                            }     
                        }

                .drop-down-menu {
                                 padding-bottom: 5vh;
                                }     
                            h1 { 
                                 text-align: left;
                                }
                                }

                @include desktop {
                                  max-width: $max-width-desktop;
                                  margin-left: 0;
                                  height: 18vh;
                                  .logo { 
                                         padding-left: 0vw;
                                         padding-bottom: 3vh;
                                         padding-right: 4.5vw;
                                         img {
                                              max-width: 67px;
                                              max-height: 67px; 
                                                      }     
                                                       }       
                                 .drop-down-menu 
                                                {
                                                   padding-bottom: 6vh;                                                            
                                                 }                                                
                                                h1 { 
                                                   margin-bottom: 1rem;
                                                  }      
                                                 }    
                                  }

                .article-container {
                    max-width: $max-width-mobile;
                    margin: 0 auto;
                        .ajax-loader {
                            width: 38px;
                            height: 38px;
                            position: fixed;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 1;
                        }
                        li {
                            position: relative;
                            .article-image {
                                width: 100%;
                                height: 420px;
                                background-position: 50% 50%;
                                background-repeat: no-repeat;
                                background-size: cover; 
                            }                 
                            p {
                                position: absolute;
                                bottom: .1px;
                                width: 100%;
                                text-align: left;
                                background: linear-gradient(
                                                 rgba(0,0,0, .5), 
                                                 rgba(0,0,0, .5));}
                            a { 
                                color:#ffffff; 
                                text-decoration:none; 
                            }
                          }

                          @include tablet {
                            max-width: $max-width-tablet;
                                ul {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
                                   }
                                        .article-image {
                                            height: 100%; 
                                        }  
                                    }

                           @include desktop {
                             max-width: $max-width-desktop; 
                                 ul {
                                     grid-template-columns: 1fr 1fr 1fr 1fr;
                                     grid-template-rows: 1fr 1fr 1fr; 
                                            }
                                                } 
                                            }
                
                footer { 
                         max-width: $max-width-mobile;
                         height: 12vh;
                         padding-top: 5vh;
                         padding-bottom: 5vh;     
                        p {
                            font-size: .9rem;
                            color: #c2c2c2;
                            span { 
                                text-transform: uppercase; 
                            }
                        } 
                        @include tablet {
                            max-width: $max-width-tablet;
                            height: 20vh;
                            padding-top: 9vh;
                            p {
                                text-align: center;
                                width: 100%;
                            }
                        }

                        @include desktop {          
                           p {
                               font-size: 16px;
                               text-align: left;
                               margin-left: 2rem;
                        }
                            }  
                        }
                