@import 'variable';
@import 'mixin';
@import 'global';
@import 'reset';


body {
    background-color: $base-background-color;
    color: $base-text-color;
    font-size: $base-font-size;
    text-align: center;
    font-family: 'Open Sans';

}

header {
    
    margin: 0 auto;
    margin-bottom: 200px;
    max-width: $max-width-mobile;
        select {
            border-radius: 5px;
            height: 30px; }                 
        }


        .small-header {
            max-width: $max-width-mobile;
            margin: 0 auto;
            padding: 2rem 2rem 2rem 2rem;    
                .logo{
                    img {
                         max-width: 150px;
                         max-height: 150px; 
                         margin: 1rem; }     
                           }
                h1 {
                        margin-bottom: 1rem;}
                select {
                            border-radius: 5px;
                            height: 30px; }   
                        }                 


.article-container {
    max-width: $max-width-mobile;
    margin: 0 auto;
        .ajax-loader{
            width: 38px;
            height: 38px;
            position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

        }
        li{
            position: relative;
            .article-image {
                width: 100%;
                height: 420px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover; }                 
            p {
                position: absolute;
                bottom: .1px;
                width: 100%;
                text-align: left;
                background: linear-gradient(
                                 rgba(20,20,20, .5), 
                                 rgba(20,20,20, .5));}
            a { color:#ffffff; 
                text-decoration:none; }
          }
                    }

footer p {
    padding: 50px;
    color: #c2c2c2;
}

            

                @include tablet {
header {
    max-width: $max-width-tablet;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .logo{ 
        img {max-width: 136px;
            max-height: 136px; 
            
             margin: 1rem; }     
               }
        .drop-down-menu {
            justify-content: left;
                select {
                        width: 130.7px;
                     }
                        }
       }

h1 { margin-bottom: 1rem;
    
    
}



.small-header {
    
    max-width: $max-width-tablet;
    justify-content: left;
    margin: 0 auto;
    height: 10vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem 2rem 2rem 2rem;    
        .logo{ padding-right: 35px;
            img {max-width: 67px;
                max-height: 67px; 
                
                 margin: 1rem; }     
                   }
        h1 {    text-align: left;
                margin-bottom: 1rem;}
        select {    
                    border-radius: 5px;
                    height: 30px; }   
                }                



.article-container {
    max-width: $max-width-tablet;
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr; }
                .article-image {
                    height: 100%; }  
            }
        }
                    
        @include desktop {      


            header {
                max-width: $max-width-desktop;
                display: flex;
                align-items: left;
                justify-content: left;
                
                .logo{ 
                    img {max-width: 220px;
                        max-height: 220px; 
                        
                         margin: 1rem; }     
                           }
                    .drop-down-menu {
                        justify-content: left;
                            select {
                                    width: 130.7px;
                                 }
                                    }
                   }
            
            h1 { margin-bottom: 1rem;}


            .small-header {
    
                max-width: $max-width-desktop;
                justify-content: left;
                margin-left: 0;
                height: 10vh;
                margin-top: 2rem;
                margin-bottom: 2rem;
                padding: 2rem 2rem 2rem 2rem;    
                    .logo{ padding-right: 35px;
                        img {max-width: 67px;
                            max-height: 67px; 
                            
                             margin: 1rem; }     
                               }
                    h1 {    text-align: left;
                            margin-bottom: 1rem;}
                    select {    
                                border-radius: 5px;
                                height: 30px; }   
                            }                


.article-container {
    max-width: $max-width-desktop; 
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr; }
            }
   
footer {          
        max-width: $max-width-desktop;
        p {
            
            text-align: left;
            }       
        }

    }