@import 'variable';
@import 'mixin';
@import 'global';
@import 'reset';


body {
    background-color: $base-color;
    color: #ffffff;
    text-align: center;

}

header {
    max-width: $max-width;
    margin: 0 auto;
    margin-bottom: 200px;
}


.article-container {
    max-width: $max-width;
    margin: 0 auto;
        li{
            position: relative; 
            p {
                position: absolute;
                bottom: 1px;
                width: 480px;
                text-align: left;
                background: linear-gradient(
                                 rgba(20,20,20, .5), 
                                 rgba(20,20,20, .5));}
            a { color:#ffffff; 
                text-decoration:none; }
          }
                    }










   







